body {
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    font-family: Tahoma, Arial, sans-serif;
    background-image: url("../images/login/lab3.png");

}
#container {



}
#content {
    width: 335px;
    height: 600px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 10px;
}
#content .signin {
    padding: 74px 95px 50px;
    text-align: center;
    font-size: 20px;

}
#content .signin b {
    display: block;
    width: 150px;

}
#content .user {
    width: 240px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#content .pass {
    width: 240px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#content .email {
    width: 240px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}
#content .email input {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 20px;
    box-shadow: 0px   0px  5px 5px rgba(211, 211, 211, 0.32);
}
#content .user input {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 20px;
    box-shadow: 0px   0px  5px 5px rgba(211, 211, 211, 0.32);
}

#content .pass input {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding-left: 20px;
    box-shadow: 0px   0px  5px 5px rgba(211, 211, 211, 0.32);
}
#content .button {
    display: block;
    width: 140px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#content .button button {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: #5976d7;
    border: none;
    color: white;

}
#content .button:hover button {
    background-color: #1da1f3;
    cursor: pointer;
}
#content .text{
    margin-top: 40px;
    margin-bottom: 30px;
}
#content .text p {
    text-align: center;
    color: dimgrey;
}


#content .signup {
    text-align: center;
    margin-top: 35px;
}
#content .signup a {
    text-decoration: none;
    color: black;
}
#content .signup a:hover {
    color: #3b5999;
}